body {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #9a3324;
    font-size: 36px;
    font-weight: bold;
}

.form-container {
    max-width: 500px;
    margin: 100px auto 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-container input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #9a3324;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #9a3324;
}

.form-container label {
    font-weight: bold;
}

.form-container .form-group {
    margin-bottom: 18px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #9a3324;
    font-weight: bold;
    text-decoration: underline;
}

.login-link a:hover {
    text-decoration: underline;
}

.date-group {
    position: relative;
}

.date-group input[type="date"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.date-group i {
    position: absolute;
    top: 40%;
    right: 15px;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    cursor: pointer;
}

.field-validation-error,
.text-danger {
    color: #9a3324; /* Màu đỏ đẹp */
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 3px;
    display: block;
}